* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
    outline: none;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#heading {
    background-color: #000;
    height: 47px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.sub-nav {
    display: inline-block;
}



.sub-nav  a {
    display: inline-block;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    line-height: 47px;
    padding: 0 24px;
}

.sub-nav > a {
    position: relative;
}

.nav a {
    text-decoration: none;
    color: #fff;
}



.nav {
    display: inline-block;
    position: absolute;

}

.nav {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) ;
}

.nav {
}

.nav-li {
}

.nav-li li {
    display: none;
    color: #000;
    list-style: none;
    padding: 10px 0 10px 15px;
    min-width: 130px;
    border-bottom: 1px solid #ccc;
}

.sub-nav a:hover,
.sub-nav  {
    background-color: #ccc;
    color: #000;
}

.nav-li:hover li {
    display: block;
}

.nav-down {
    color: #fff;
    font-size: 12px;
}